@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base{

}

@layer utilities{
    .toggle-checkbox:checked {
        @apply right-0 border-red-600;
        right: 0;
        /* border-color: #68D391; */
    }
    .toggle-checkbox:checked + .toggle-label {
        @apply bg-red-600;
        /* background-color: #68D391; */
    }
}




html{
    scroll-behavior: smooth;
    transition: all 1s ease;
}

body::-webkit-scrollbar {
    height: 8px;
    width: 8px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: transparent !important; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #EFEFEF; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    /*border: 1px solid var(--blue); !* creates padding around scroll thumb *!*/
}


.main {
    transition: all 1s ease;
}



@media (max-width: 991px) {

    .navigation-dash.active {
        width: 200px;
        left: 0;
    }

    .main {
        transition: all 0.1s ease;
        width: 100%;
        left: 0;
    }

    .main.active {
        left: 200px;
    }

}
