@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*@media (prefers-color-scheme: dark) {*/
/*    body { background: #0f172a !important; }*/
/*}*/


@layer base {

}

@layer utilities {
    .toggle-checkbox:checked {
        @apply right-0 border-red-600;
        right: 0;
        /* border-color: #68D391; */
    }

    .toggle-checkbox:checked + .toggle-label {
        @apply bg-red-600;
        /* background-color: #68D391; */
    }
}


html {
    scroll-behavior: smooth;
    transition: all 1s ease;
}

body::-webkit-scrollbar {
    height: 8px;
    width: 8px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: transparent !important; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #EFEFEF; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    /*border: 1px solid var(--blue); !* creates padding around scroll thumb *!*/
}


.main {
    transition: all 1s ease;
}

/* navbar */
.navbar {
    position: fixed;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.main-color {
    color: #68D391 !important;
    fill: #68D391 !important;
}

.hover\:main-color:hover {
    --tw-bg-opacity: 1;
    color: #68D391 !important;
    border-bottom: 2px solid #68D391;
}

.second-color {
    color: #FFDB58 !important;
    fill: #FFDB58 !important;
}

.hover\:second-color:hover {
    --tw-bg-opacity: 1;
    color: #FFDB58 !important;
    fill: #FFDB58 !important;
    border-bottom: 2px solid #FFDB58;
}

input::placeholder {
    color: #FFDB58 !important;
}


@media (max-width: 991px) {

    .navigation-dash.active {
        width: 200px;
        left: 0;
    }

    .main {
        transition: all 0.1s ease;
        width: 100%;
        left: 0;
    }

    .main.active {
        left: 200px;
    }

}

@media (min-width: 768px) {
    .md\:navbar {
        --tw-bg-opacity: 1;
        position: fixed;
        width: 100vw;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 999;
    }
}
